<!-- src/app/admin/admin.component.html -->
<div class="container">
  <h2>Admin Panel</h2>
  <button class="btn btn-primary m-2" (click)="navigateToAddProduct()">
    Add Product
  </button>
  <a [routerLink]="['/product-list']" class="float-end"
    >Back to product ordering</a
  >
  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>

  <div class="list-container">
    <app-product-card *ngFor="let product of products" [product]="product">
      <button
        deleteButton
        class="btn btn-danger me-2"
        (click)="deleteProduct(product.id)"
      >
        Delete
      </button>
      <a
        updateButton
        [routerLink]="['product-update', product.id]"
        class="btn btn-warning"
      >
        Update
      </a>
    </app-product-card>
  </div>
</div>
