<div class="card mb-3">
  <div class="card-body">
    <h2 class="font-weight-bold text-center">Vending Machine</h2>
    <p class="text-center mb-3">
      Inserted Amount:
      {{ insertedAmount | currency : "USD" }}
    </p>

    <ng-container *ngFor="let coin of acceptedCoins">
      <button class="btn btn-primary w-100 mb-3" (click)="insertCoin(coin)">
        Insert ${{ coin }}
      </button>
    </ng-container>

    <br />
    <button class="btn btn-danger w-100 mb-3" (click)="reset()">Reset</button>
    <button
      class="btn btn-warning w-100 mb-3"
      (click)="navigateToAdministration()"
    >
      Administration
    </button>
  </div>
</div>
