<div class="card mb-3">
  <div class="card-body">
    <h2 class="font-weight-bold text-center">Vending Machine</h2>
    <p class="text-center mb-3">
      Inserted Amount:
      {{ insertedAmount | currency : "USD" }}
    </p>

    <button class="btn btn-primary w-100 mb-3" (click)="insertCoin(0.1)">
      Insert $0.10
    </button>
    <button class="btn btn-primary w-100 mb-3" (click)="insertCoin(0.25)">
      Insert $0.25
    </button>
    <button class="btn btn-primary w-100 mb-3" (click)="insertCoin(0.5)">
      Insert $0.50
    </button>
    <button class="btn btn-primary w-100 mb-3" (click)="insertCoin(1)">
      Insert $1
    </button>
    <button class="btn btn-primary w-100 mb-3" (click)="insertCoin(5)">
      Insert $5
    </button>
    <button class="btn btn-primary w-100 mb-3" (click)="insertCoin(10)">
      Insert $10
    </button>

    <br />
    <button class="btn btn-danger w-100 mb-3" (click)="reset()">Reset</button>
    <button
      class="btn btn-warning w-100 mb-3"
      (click)="navigateToAdministration()"
    >
      Administration
    </button>
  </div>
</div>
