<!-- product-update.component.html -->
<div class="form-container">
  <h2 class="mb-4">Update Product</h2>
  <a class="float-end" routerLink="/admin">
    <button
      type="button"
      class="btn-close"
      disabled
      aria-label="Close"
    ></button>
  </a>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <label for="name" class="form-label">Name</label>
      <input id="name" class="form-control" formControlName="name" />
      <div
        *ngIf="
          productForm.controls['name'].invalid &&
          productForm.controls['name'].touched
        "
        class="text-danger"
      >
        Invalid name: only letters are allowed
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="price" class="form-label">Price</label>
      <input
        id="price"
        type="number"
        class="form-control"
        formControlName="price"
      />
      <div
        *ngIf="
          productForm.controls['price'].invalid &&
          productForm.controls['price'].touched
        "
        class="text-danger"
      >
        Invalid price: must be between 0.01 and 10.00 with two decimal places
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="quantity" class="form-label">Quantity</label>
      <input
        id="quantity"
        type="number"
        class="form-control"
        formControlName="quantity"
      />
      <div
        *ngIf="
          productForm.controls['quantity'].invalid &&
          productForm.controls['quantity'].touched
        "
        class="text-danger"
      >
        Invalid quantity: must be between 1 and 10
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="productForm.invalid"
    >
      Update Product
    </button>
  </form>
</div>
