<!-- product-add.component.html -->
<div class="form-container">
  <div class="d-flex justify-content-between">
    <h2 class="text-center">Add New Product</h2>
    <a class="close" routerLink="/admin">
      <button
        type="button"
        class="btn-close"
        disabled
        aria-label="Close"
      ></button>
    </a>
  </div>

  <app-product-form
    [submitButtonText]="'Add'"
    (formSubmit)="onSubmit($event)"
  ></app-product-form>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
</div>
